@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800;900 & display=swap');


// General text
body, a {
    line-height: 1.7;
    color: $color-text;
    font-size: $fs-small;
    font-family: $ff-text;
    font-weight: $fw-small;
}
li {
    font-size: $fs-medium;
}
// Titles
.big-title {
    font-size: $fs-title;
    font-family: $ff-title;
}

.title {
    font-size: $fs-title;
}

h2 {
    font-family: $ff-text;
    padding: $P-Medium1;
    font-weight: $fw-bolder;
}

h3,
h4 {
    font-family: $ff-text;
    font-weight: $fw-bold;
}

.footer__title {
    font-family: $ff-title;
    font-weight: 400;
}